* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(7, 7, 7);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccc;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  background: rgb(61, 61, 61);
  color: white;
  padding: 0.5rem;
}
